<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devband.stabilawalletforandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="com.devband.stabilawalletforandroid.common.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="068249ab59e95265413fc9f8ae65b498539360f9" />

        <activity android:name="com.devband.stabilawalletforandroid.ui.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.main.MainActivity"
            android:theme="@style/MainTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.createwallet.CreateWalletActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.importkey.ImportPrivateKeyActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.backupaccount.BackupAccountActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.login.LoginActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.myaccount.MyAccountActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.address.AddressActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.qrscan.QrScanActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.sendtrc10.SendTrc10Activity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.sendtrc20.SendTrc20Activity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.about.AboutActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.market.MarketActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.blockexplorer.BlockExplorerActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.more.MoreActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.representative.RepresentativeActivity"
            android:theme="@style/MainTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.vote.VoteActivity"
            android:theme="@style/VoteTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.node.NodeActivity"
            android:theme="@style/MainTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.requestcoin.RequestCoinActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.opensource.OpenSourceActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.mytransfer.TransferActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.token.TokenActivity"
            android:theme="@style/WalletTheme" />

        <activity android:name="com.devband.stabilawalletforandroid.ui.blockdetail.BlockDetailActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.token.TokenDetailActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.accountdetail.AccountDetailActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.accountdetail.overview.AccountVoteActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.exchange.ExchangeActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.previewwallet.PreviewWalletActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.devband.stabilawalletforandroid.ui.balancecheck.BalanceCheckingActivity"
            android:theme="@style/WalletTheme" />

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />

        <!-- test -->
        <activity android:name="com.devband.stabilawalletforandroid.ui.smartcontract.TestSmartContractActivity" />

        <service android:name="com.devband.stabilawalletforandroid.service.BalanceCheckService" android:exported="false" />

    </application>

</manifest>